:root {
    --blue:#0005a7; 
    --orange:#ffa836; 
    --darkorange:#dd6200; 
    --light:#fffaf0; 
}

body {
    background-image: url("./clouds.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

/* What's the Weather?  */
h1 {
    text-align: center;
    color: var(--blue); 
    padding:20px; 
    background: linear-gradient(to right, var(--darkorange), var(--orange)); 
}
/* Search for a City:  */
.search-section {
    background: linear-gradient(var(--orange), var(--darkorange));
    text-align: center;
}
input {
    width:100%; 
    margin: 5px; 
}
.search-section>h4 {
    color: var(--blue); 
    margin-top: 15px; 
}
li {
    list-style-type: none;
}
li>button {
    width: 100%; 
    text-align:center; 
    background-color: var(--blue); 
    color: var(--light); 
}
#history {
    padding:0; 
}

/* Current Weather Display Box  */
.current-weather-container {
    border:2px solid var(--orange); 
    padding-top:30px; 
    padding-left:30px;  
}

.city-name, .forecast-section>h3 { 
    color:var(--blue); 
}

/* 5 Day Forecase Section  */
.forecast-grid {
    background: linear-gradient(var(--orange), var(--darkorange)); 
    margin: 10px; 
    padding:10px; 
}
.forecast-grid>h5 {
    color:var(--blue); 
}
.forecast-section>h3 {
    margin-top: 20px; 
}
span {
    display:inline; 
}