:root {
    --blue:#0005a7; 
    --orange:#ffa836; 
    --darkorange:#dd6200; 
    --light:#fffaf0; 
}

body {
    background-image: url("./clouds.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    color: var(--blue); 
    padding:20px; 
    background: linear-gradient(to right, var(--darkorange), var(--orange)); 
}

.forecast-grid {
    background: linear-gradient(var(--orange), var(--darkorange)); 
    margin: 10px; 
    padding:10px; 
}
.forecast-grid>h5 {
    color:var(--blue); 
}

.current-weather-container {
    border:2px solid var(--orange); 
    padding: 30px; 
}

.city-name, .forecast-section>h3 { 
    color:var(--blue); 
}
.forecast-section>h3 {
    margin-top: 20px; 
}